* {
    margin: 0;
}

body {
    font-size: 1.1875rem;
    line-height: 1.5;
    margin-top: 1.25rem;
    width: 31.25rem;
}

li {
    list-style: none;
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

li:hover {
    background-color: rgb(211, 211, 211);
}

.folder_icon {
    color: rgb(255, 166, 0);
    margin-right: 0.1875rem;
}

.insert_drive_file {
    color: rgb(128, 128, 128);
    margin-right: 0.1875rem;
}

.open {
    display: block;
}

.closed {
    display: none;
}