$bg-color: rgb(255, 255, 255);
$bg-img: url('../img/m-h-day.jpg');
$font-color-primary: rgb(44, 47, 60);
$font-color-secondary: rgb(192, 195, 206);
$font-fam: 'Hind', sans-serif;
$button-color: rgb(105, 153, 0);
$mark-color: rgb(20, 160, 199);
$card-footer-bg: rgb(33, 35, 46);
$gradient-left: rgb(102, 150, 12);
$gradient-rigth: rgb(46, 92, 210);
$link-color: rgb(192, 195, 206);