$bg-color: rgb(33, 35, 46);
$bg-img: url('../img/m-h-night.jpg');
$font-color-primary: rgb(255, 255, 255);
$font-color-secondary: rgb(192, 195, 206);
$font-fam: 'Fresca', sans-serif;
$button-color: rgb(227, 172, 0);
$mark-color: rgb(255, 78, 51);
$card-footer-bg: rgb(59, 63, 80);
$gradient-left: rgb(222, 165, 4);
$gradient-rigth: rgb(150, 50, 79);
$link-color: rgb(255, 255, 255);